{# Small post template #}

<article class="post-small col-xs-12 col-sm-6 col-lg-4">   
    <p><i class="small">{{ post.type }}</i></p>
    <header>
        <h4><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.name }}</a></h4>
    </header>
    <div>
        {{ post.text | truncate(255, true, '...') }}                    
    </div>
    <div class="actions text-center">
        <a class="btn btn-xs btn-default" href="{{ path('post_show', { 'id': post.id }) }}">{{ 'post.show'|trans({},'SebblaPostBundle') }}</a>
    </div>
</article>  