{# Navigation template #}

<div class="navigation-container">
    <nav class="container navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><b>Zadanie 2</b></a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('searcher') }}">{{ 'searcher'|trans({},'SebblaPostBundle') }}</a></li>
                <li><a href="{{ path('post_new') }}">{{ 'post.new'|trans({},'SebblaPostBundle') }}</a></li>
            </ul>
        </div>
    </nav>                
</div>